<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tareas{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'activite_log_list' %}">Actividades</a></li>
                <li><a href="{% url 'task_list' %}">Tareas</a></li>
                <li><a href="{% url 'notification_list' %}">Notificaciones</a></li>
                <li><a href="{% url 'user_profile' %}">Usuario</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Tareas</p>
    </footer>
</body>
</html>
